@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply transition-colors duration-300;
}

/* Global dark mode styles */
.dark {
  background-color: #121212;
  color: #E0E0E0;
}

.dark a {
  color: #4CAF50;
}

.dark button {
  background-color: #2196F3;
  color: white;
}

.dark input, 
.dark select, 
.dark textarea {
  background-color: #1E1E1E;
  color: #E0E0E0;
  border-color: #333333;
}
